.hero {
  background: linear-gradient(
                180deg, 
                rgba(0,0,0,0.7), 
                rgba(0,0,0,0.85)
              ),
              url('../assets/images/hero-bg-mobile.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
